.container {
  padding: 10px;
}

.row {
  display: block;
  background-color: grey;
  color: black;
  padding: 10%;
  margin: 10px;
}

.col-md-4 {
  text-align: center;
  padding: 60px;
  border: 2px solid grey;
  background-color: white;
  font-size: 25px;
}
